*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	box-sizing:border-box;
}
html{
	font-size:62.5%;
}
.header{
	min-height:100vh;
	width:100%;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
	url(images/banner.png);
	background-position:center;
	background-size:cover;
	position:relative;
}
nav{
	display:flex;
	padding:2% 6%;
	justify-content:space-between;
	align-items:center;
}
nav img{
	width:15rem;
	
}
.nav-links{
	flex:1;
	text-align:right;
}
.nav-links ul li{
	list-style:none;
	display:inline-block;
	padding:0.8rem 1.2rem;
	position:relative;
}
.nav-links ul li a{
	color:white;
	text-decoration:none;
	font-size:1.3rem;
}
.nav-links ul li::after{
	content:'';
	width:0%;
	height:0.2rem;
	background:#f44336;
	display:block;
	margin:auto;
	transition:0.5s;
}
.nav-links ul li:hover::after{
	width:100%;
}
.text-box{
	width:90%;
	color:white;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	text-align:center;
}
.text-box h1{
	font-size:6.2rem;
}
.text-box p{
	margin:1rem 0 4rem;
	font-size:1.4rem;
	color:white;
}
.hero-btn{
	display:inline-block;
	text-decoration:none;
	color:white;
	border:0.1rem solid white;
	padding:1.2rem 3.4rem;
	font-size:1.3rem;
	background:transparent;
	position:relative;
	cursor:pointer;
}
.hero-btn:hover{
	border:1px solid #f44336;
	background:#f44336;
	transition:1s;
}
nav .fa{
	display:none;
	}
	@media(max-width:700px){
		.text-box h1{
			font-size:2rem;
		}
		.nav-links ul li {
			display:block;
			
		
		}
		.nav-links{
			position:fixed;
			background:#f44336;
			height:100vh;
			width:20rem;
			top:0;
			right:-20rem;
			text-align:left;
			z-index:2;
			transition:1s;
		}
		nav .fa{
			display:block;
			color:white;
			margin:1rem;
			font-size:2.2rem;
			cursor:pointer;
		}
		.nav-links ul {
			padding:3rem;
		}
	}

/*-----Courses-----*/

.course{
	width:80%;
	margin:auto;
	text-align:center;
	padding-top:10rem;
}
.course h1{
	font-size:3.6rem;
	font-weight:600;
}
.course p{
	color:777;
	font-size:1.4rem;
	font-weight:300;
	line-height:2.2rem;
}
.row{
	margin-top:5%;
	display:flex;
	justify-content:space-between;
}
.course-col{
	flex-basis:31%;
	background:#fff3f3;
	border-radius:1rem;
	margin-bottom:5%;
	padding:2rem 1.2rem;

}
.course-col h3{
	text-align:center;
	font-weight:600;
	margin:1rem 0;
	font-size:1.6rem;
}
.course-col:hover{
	box-shadow: 0 0 2rem 0px rgba(0,0,0,0.2);
	transition:0.5s;
}

@media(max-width: 700px){
	.row{
		flex-direction:column;
	}
}

/*-----campus-----*/


 .campus{
	 width:80%;
	 margin:auto;
	 text-align:center;
	 padding-top:5rem;
 }
 .campus-col{
	 flex-basis:32%;
	 border-radius:1rem;
	 margin-bottom:3rem;
	 position:relative;
	 overflow:hidden;
 }
 .campus-col img{
	 width:100%;
	 display:block;
 }
.layer{
	background:transparent;
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	transition:0.5s;
} 
.layer:hover{
	background:rgba(226,0,0,0.7);
	
}
.campus h1{
	font-size:3.6rem;
	font-weight:600;
}
.campus p{
	color:777;
	font-size:1.4rem;
	font-weight:300;
	line-height:2.2rem;
}
.layer h3{
	width:100%;
	font-weight:500;
	color:white;
	font-size:2.6rem;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
	opacity:0;
	transition:0.5s;
}
.layer:hover h3{
	bottom:49%;
	opacity:1;
}
	 
 /*------facilities-----*/
 
 .facilities{
	 width:80%;
	 margin:auto;
	 text-align:center;
	 padding-top:10rem;
 }
 .facilities h1{
	font-size:3.6rem;
	font-weight:600;
}
.facilities p{
	color:777;
	font-size:1.4rem;
	font-weight:300;
	line-height:2.2rem;
}
.facilities-col{
	flex-basis:31%;
	border-radius:1rem;
	margin-bottom:5%;
	text-align:left;
}
.facilities-col img{
	width:100%;
	border-radius:1rem;
}
.facilities-col h3{
	text-align:left;
	font-weight:600;
	margin-top:1.6rem;
	margin-bottom:1.5rem;
	font-size:1.6rem;
}
.facilities-col p{
	padding:0;
}

	/*!-----testimonials-----*/
	
.testimonial{
	width:80%;
	margin:auto;
	padding-top:10rem;
	text-align:center;
}
.testimonial h1{
	font-size:3.6rem;
	font-weight:600;
}
.testimonial p{
	padding:0;
	color:777;
	font-size:1.4rem;
	font-weight:300;
	line-height:2.2rem;
}
.testimonial-col{
	flex-basis:44%;
	border-radius:1rem;
	margin-bottom:5%;
	text-align:left;
	background:#fff3f3;
	padding:2.5rem;
	cursor:pointer;
	display:flex;
	
}
.testimonial-col img{
	height:4rem;
	margin-left:0.5rem;
	margin-right:3rem;
	border-radius:50%;
}
.testimonial h3{
	text-align:left;
	font-weight:600;
	margin-top:1.5rem;

	font-size:1.6rem;
}
.testimonial-col .fa{
	color:#f44336;
}
@media(max-width:700px;){
	.testimonial-col img{

	margin-left:0rem;
	margin-right:1.5rem;
	
}
}

/*-----cta-----*/

.cta h1{
	font-size:3.6rem;
	font-weight:600;
	color:white;
	margin-bottom:4rem;
	padding:0;
}
.cta{
	margin:10rem auto;
	width:80%;
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner2.jpg);
	background-size:cover;
	background-position:center;
	border-radius:1rem;
	text-align:center;
	padding:10rem 0;
}
	@media(max-width:700px){
		.cta h1{
			font-size:2.4rem
		}
	}

/*-----foooter-----*/
.footer{
	width:100%;
	text-align:center;
	padding:3rem 0;
	}
.footer h4 {
	font-size:1.6rem;
	margin-bottom:2.5rem;
	margin-top:2.rem;
	font-weight:600;
	
}
.footer p{
	font-size:1.4rem;
	font-weight:300;
	
}
.icons .fa{
	color: #f44336;
	margin:0 1.3rem;
	cursor:pointer;
	padding:1.8rem 0;
}
.fa-hearth-o{
	color: #f44336;
	
}

/*-----about us page-----*/

.sub-header{
	height:50vh;
	width:100%;
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
	background-position:center;
	background-size:cover;
	text-align:center;
	color:white;
}
.sub-header h1{
	margin-top:10rem;
	font-size:6.2rem;
}
.about-us{
	width:80%;
	margin:auto;
	padding-top:8rem;
	padding-bottom:5rem;
}
.about-col{
	flex-basis:48%;
	padding:3rem 2rem;

}
.about-col img {
	width:100%;
}
.about-col h1{
	padding-top:0;
	text-align:center;
	font-size:3.6rem;
	
}
.about-col p{
	padding:1.5rem 0 2.5rem;
	text-align:left;
	font-size:1.4rem;
}
.red-btn{
	border :0.1rem solid #f44336;
	background:transparent;
	color:#f44336;
	
}
.red-btn:hover{
	color:white
}

/*-----blog-content-----*/

.blog-content{
	width:80%;
	margin:auto;
	padding:6rem 0;
}
.blog-left{
	flex-basis:65%;
}
.blog-left img{
	width:100%;
}
.blog-left h2{
	color:#222;
	font-weight:600;
	margin:3rem 0;
	font-size:1.8rem;
}
.blog-left p{
	
	color:#999;
	padding:0;
	font-size:1.4rem;
}
.blog-right{
	flex-basis:32%;
}
.blog-right h3{
	background:#f44336;
	color:white;
	padding:0.7rem 0;
	font-size:1.6rem;
	margin-bottom:2rem;
	text-align:center;
}
.blog-right div{
	display:flex;
	align-items:center;
	justify-content:space-between;
	color:#555;
	padding:0.8rem;
	box-sizing:border-box;
	font-size:1.2rem;
}
.comment-box{
	border:0.1rem solid #ccc;
	margin:5rem 0;
	padding:1rem 2rem;
	}
.comment-box h3{
	text-align:left;
}
.comment-form input, .comment-form textarea{
	
	width:100%;
	padding:1rem;
	margin:1.5rem 0;
	box-sizing:border-box;
	border:none;
	outline:none;
	background:#f0f0f0;
	}
.comment-form button{
	margin:1rem 0;
}
@media(max-width:700px){
	.sub-header h1{
		font-size:2.4rem;
	}
}



/*-----contact us-----*/

.location{
	width :80%;
	margin:auto;
	padding:8rem 0;
}
.location iframe{
	width:100%;
}
.contact-us{
	width:80%;
	margin:auto;
	font-size:1.6rem;
}
.contact-col{
	flex-basis:48%;
	margin-bottom:3rem;
}
.contact-col div{
	display:flex;
	align-items:center;
	margin-bottom:4rem;
}
.contact-col div .fa{
	font-size:2.8rem;
	color:#f44336;
	margin:1rem;
	margin-right:3rem;

}
.contact-col div p{
	padding:0;
}
.contact-col div h5{
	font-size:2rem;
	margin-bottom:0.5rem;
	color:#555;
	font-weight:400;
}
.contact-col input,.contact-col textarea{
	width:100%;
	padding:1.5rem;
	margin-bottom:1.7rem;
	outline:none;
	border:0.1rem solid #ccc;
}













